{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block title-page %}Home{% endblock %}

{% block main-content-title %}NHẬN DẠNG ÂM THANH NHẠC CỤ{% endblock %}
{% block main-content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="payslip-title text-decoration-none mb-0" style="text-transform: none">Nhận dạng âm thanh nhạc cụ đơn tấu, song tấu, hòa tấu</h4>
                </div>
                <div class="card-body">
                    <h4 class="mb-3 d-flex justify-content-between">
                        <label for="input-file" style="cursor: pointer; text-transform: none">Chọn file</label>
                        <span onclick="removeFile()" class="font-weight-bold text-danger custom-file-container__image-clear" style="cursor: pointer">❌</span>
                    </h4>
                    <form class="row" method="post">
                        {% csrf_token %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div id="select-audio" class="custom-file-container" data-upload-id="myFirstImage">
                                <label class="d-none">Chọn file <a id="removeFile" href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">X</a></label>
                                <label class="custom-file-container__custom-file mt-0">
                                    <input id="input-file" type="file" class="custom-file-container__custom-file__custom-file-input"
                                        accept="audio/*" required name="file-input">
                                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                                </label>
                                <div class="custom-file-container__image-preview d-none"></div>
                            </div>

                            <div class="custom-file-container d-none" data-upload-id="mySecondImage">
                                <label>Upload (Allow Multiple) <a href="javascript:void(0)"
                                        class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                                <label class="custom-file-container__custom-file">
                                    <input type="file" class="custom-file-container__custom-file__custom-file-input"
                                        multiple>
                                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                                </label>
                                <div class="custom-file-container__image-preview"></div>
                            </div>
                        </div>

                        <div id="wrapper-audio" class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex align-items-end mt-sm-0 mt-3">
                            <audio id="audio" controls class="w-100">
                                <source src="" id="src" />
                            </audio>
                        </div>

                        <div class="form-group text-center custom-mt-form-group col-12 mt-5">
                            <button class="btn btn-primary w-100" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $("#sidebar-home").addClass('active');
        $("#route-page").append('<li class="breadcrumb-item"><a href="{% url 'main:home' %}"><i class="fas fa-home"></i> <span>Home</span></a></li>');

        $('#audio').height($('#select-audio').height());

        function removeFile() {
            $('#removeFile')[0].click();
            $('#wrapper-audio')
                    .empty()
                    .append('<audio id="audio" controls class="w-100"><source src="" id="src" /></audio>');
            $('#audio').height($('#select-audio').height());
        }

        function handleFiles(event) {
            var files = event.target.files;
            if(files.length > 0) {
                $("#src").attr("src", URL.createObjectURL(files[0]));
                document.getElementById("audio").load();
            }
        }

        document.getElementById("input-file").addEventListener("change", handleFiles, false);
    </script>
{% endblock %}