{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}

{% block title %}Home{% endblock %}

{% load static %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block title-page %}Home{% endblock %}

{% block main-content-title %}NHẬN DẠNG ÂM THANH NHẠC CỤ{% endblock %}
{% block main-content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="page-title">
                        Nhận dạng âm thanh nhạc cụ đơn tấu, song tấu, hòa tấu
                    </div>
                </div>
                <div class="card-body">
                    {% if result == False %}
                        <h4 class="mb-3 d-flex justify-content-between">
                            <label for="input-file" style="cursor: pointer; text-transform: none">Chọn file</label>
                            <span onclick="removeFile()" class="font-weight-bold text-danger custom-file-container__image-clear" style="cursor: pointer">❌</span>
                        </h4>
                        <form class="row" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div id="select-audio" class="custom-file-container" data-upload-id="myFirstImage">
                                    <label class="d-none">Chọn file <a id="removeFile" href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">X</a></label>
                                    <label class="custom-file-container__custom-file mt-0">
                                        <input id="input-file" type="file" class="custom-file-container__custom-file__custom-file-input"
                                            accept="audio/wav" required name="file-input">
                                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                                    </label>
                                    <div class="custom-file-container__image-preview d-none"></div>
                                </div>

                                <div class="custom-file-container d-none" data-upload-id="mySecondImage">
                                    <label>Upload (Allow Multiple) <a href="javascript:void(0)"
                                            class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                                    <label class="custom-file-container__custom-file">
                                        <input type="file" class="custom-file-container__custom-file__custom-file-input"
                                            multiple>
                                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                                    </label>
                                    <div class="custom-file-container__image-preview"></div>
                                </div>
                            </div>

                            <div id="wrapper-audio" class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex align-items-end mt-sm-0 mt-3">
                                <audio id="audio" controls class="w-100">
                                    <source src="{{ uploaded_file_url }}" id="src" />
                                </audio>
                            </div>

                            <div class="form-group text-center custom-mt-form-group col-12 mt-5">
                                <button class="btn btn-primary w-100" type="submit">Submit</button>
                            </div>
                        </form>
                    {% endif %}

                    {% if result == True %}
                        <h4 class="mb-3 d-flex justify-content-between">
                            <label for="input-file" style="cursor: pointer; text-transform: none">File đã chọn</label>
                            <a href="{% url 'main:home' %}" class="font-weight-bold text-danger custom-file-container__image-clear" style="cursor: pointer">❌</a>
                        </h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div id="select-audio" class="custom-file-container" data-upload-id="myFirstImage">
                                    <label class="d-none">Chọn file <a id="removeFile" href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">X</a></label>
                                    <label class="custom-file-container__custom-file mt-0">
                                        <input id="input-file" type="file" class="custom-file-container__custom-file__custom-file-input"
                                            accept="audio/wav" required name="file-input" disabled>
                                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                                    </label>
                                    <div class="custom-file-container__image-preview d-none"></div>
                                </div>

                                <div class="custom-file-container d-none" data-upload-id="mySecondImage">
                                    <label>Upload (Allow Multiple) <a href="javascript:void(0)"
                                            class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                                    <label class="custom-file-container__custom-file">
                                        <input type="file" class="custom-file-container__custom-file__custom-file-input"
                                            multiple>
                                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                                    </label>
                                    <div class="custom-file-container__image-preview"></div>
                                </div>
                            </div>

                            <div id="wrapper-audio" class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex align-items-end mt-sm-0 mt-3">
                                <audio id="audio" controls class="w-100">
                                    <source src="{{ uploaded_file_url }}" id="src" />
                                </audio>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4 class="m-b-10">Chi tiết</h4>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Nhãn <span
                                                class="float-right font-weight-bold">{{ file_result.label }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Khoảng cách <span
                                                class="float-right">{{ file_result.distance|floatformat:2|intcomma }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group text-center custom-mt-form-group mt-5">
                            <a class="btn btn-primary w-100" href="{% url 'main:home' %}" >Quay lại</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if result == True %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-title">
                            Kết quả so sánh
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table custom-table datatable">
                            <thead class="thead-light">
                            <tr>
                                <th style="min-width:50px;">File</th>
                                <th style="min-width:70px;">Nhãn</th>
                                <th style="min-width:50px;">Nhạc cụ</th>
                                <th style="min-width:50px;">Thuộc tính</th>
                                <th style="min-width:50px;">Khoảng cách</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in files %}
                                <tr class="{% if file_result.id == file.id %}bg-info text-white{% endif %}">
                                    <td>
                                        <h2>
                                <span class="avatar rounded-circle text-white d-flex justify-content-center align-items-center">
                                    <span onclick="playAudio('{{ file.id }}')"
                                          style="font-size: x-large; cursor: pointer" class="text-white">
                                        <i id="audio-status-{{ file.id }}" class="fas fa-play"></i>
                                        <audio id="audio-file-{{ file.id }}" class="d-none">
                                            <source src="{{ file.relative_path }}"/>
                                        </audio>
                                    </span>
                                </span>
                                            <span class="font-weight-bold text-dark">{{ file.name }} <span
                                                    class="font-weight-bold text-dark">({{ file.id }})</span></span>
                                        </h2>
                                    </td>
                                    <td>{{ file.label }}</td>
                                    <td>
                                        {% if file.musical_instruments.all|length > 1 %}
                                            <div class="dropdown">
                                    <span role="button"
                                          class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                          data-toggle="dropdown"
                                          aria-expanded="false">{{ file.musical_instruments.all.0.name }}</span>
                                                <div class="dropdown-menu">
                                                    {% for musical_instrument in file.musical_instruments.all %}
                                                        <span style="cursor: pointer"
                                                              class="dropdown-item">{{ musical_instrument.name }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            {{ file.musical_instruments.all.0.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if file.attributes.all|length > 1 %}
                                            <div class="dropdown">
                                    <span role="button"
                                          class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                          data-toggle="dropdown"
                                          aria-expanded="false">{{ file.attributes.all.0.name }}</span>
                                                <div class="dropdown-menu">
                                                    {% for attribute in file.attributes.all %}
                                                        <span style="cursor: pointer"
                                                              class="dropdown-item">{{ attribute.name }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            {{ file.attributes.all.0.name }}
                                        {% endif %}
                                    </td>
                                    <td>{{ file.distance|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-title">
                            Chi tiết file
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row countup-wrapper">
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="dash-widget dash-widget5">
                                    <span class="float-left"><img src="{% static 'img/dash-1.png' %}" alt="" width="80"></span>
                                    <div class="dash-widget-info text-right">
                                        <span>Độ dài vector</span>
                                        <h3 class="counter">+{{ features|length }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="dash-widget dash-widget5">
                                    <div class="dash-widget-info text-left d-inline-block">
                                        <span>Số frame</span>
                                        <h3 class="" id="so_frame">{{ so_frame }}</h3>
                                    </div>
                                    <span class="float-right"><img src="{% static 'img/dash-2.png' %}" width="80"
                                                                   alt=""></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="dash-widget dash-widget5">
                                    <span class="float-left"><img src="{% static 'img/dash-3.png' %}" alt="" width="80"></span>
                                    <div class="dash-widget-info text-right">
                                        <span>Số tần số</span>
                                        <h3 class="" id="so_tan_so">{{ so_tan_so }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="dash-widget dash-widget5">
                                    <div class="dash-widget-info d-inline-block text-left">
                                        <span>Băng thông</span>
                                        <h3 class="">{{ bang_thong|floatformat:2|intcomma }}</h3>
                                    </div>
                                    <span class="float-right"><img src="{% static 'img/dash-4.png' %}" alt=""
                                                                   width="80"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                Biểu đồ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for path in path_graphs  %}
                            <div class="col-sm-6">
                                <div class="card" style="box-shadow: 0 6px 15px rgb(36 37 38 / 3%);">
                                    <img src="{{ path }}" class="card-img-top" alt="...">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $("#sidebar-home").addClass('active');
        $("#route-page").append('<li class="breadcrumb-item"><a href="{% url 'main:home' %}"><i class="fas fa-home"></i> <span>Home</span></a></li>');

        {% if result == False %}
            $('#audio').height($('#select-audio').height());

            function removeFile() {
                $('#removeFile')[0].click();
                $('#wrapper-audio')
                        .empty()
                        .append('<audio id="audio" controls class="w-100"><source src="" id="src" /></audio>');
                $('#audio').height($('#select-audio').height());
            }

            function handleFiles(event) {
                var files = event.target.files;
                if(files.length > 0) {
                    $("#src").attr("src", URL.createObjectURL(files[0]));
                    document.getElementById("audio").load();
                }
            }

            document.getElementById("input-file").addEventListener("change", handleFiles, false);
        {% endif %}

        {% if result == True %}
            $('#audio').height($('#select-audio').height());
            $('span.custom-file-container__custom-file__custom-file-control').text('{{ file_name }}');
            $('span.custom-file-container__custom-file__custom-file-control__button').remove();

            let previous_id = -1;
            function playAudio(id) {
                document.getElementById('audio-file-' + id).currentTime = 0
                $("#audio-status-" + id).attr('class', "fas fa-pause");

                if (previous_id !== -1) {
                    document.getElementById('audio-file-' + previous_id).pause();
                    $("#audio-status-" + previous_id).attr('class', 'fas fa-play');
                }
                if (previous_id === id) {
                    document.getElementById('audio-file-' + previous_id).pause();
                    previous_id = -1;
                } else {
                    previous_id = id;
                    document.getElementById('audio-file-' + id).play();
                }
            }
        {% endif %}
    </script>
{% endblock %}